{% extends "./login_layout.html" %}

{% block content %}

<form class="forgot-form" action="/forgot-password" method="post">
    <h3 class="form-title">Forgot Password?</h3><br>
    {% include "./flashMessage_Success.html" %}
    <p>
        Enter your e-mail address below!
    </p>
    <div class="form-group">
        <input class="form-control placeholder-no-fix" type="text" placeholder="E-Mail" name="email"/>
    </div>
    <div class="form-actions">
        <a class="btn btn-default" href="/login">Back</a>
        <button type="submit" class="btn btn-success uppercase pull-right">Submit</button>
    </div>
</form>

</div>

{% endblock %}

{% block js %}


<!-- include developer js file -->
<script type="text/javascript" src="../../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="/javascripts/developer.js"></script>


{% endblock %}
