{% extends "./layout.html" %}

{% block css%}
{% endblock %}

{% block content %}
<div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">
        Change Password
    </h3>
    <div class="row"><br/></div>
    <!-- END PAGE HEADER-->
    <div class="portlet-body form">
        {% include "./flashMessage.html" %}<!--include file for flash messages -->
        <!-- BEGIN FORM-->
        <form method="post" id="reset_password" action="/users/change_password/{{user.id}}"  class="horizontal-form" >
            <div class="form-body">
                <div class="row">
                    <div class="form-group">
                        <label for= "old_password" class="control-label">Old Password:</label>
                        <span class="star">*</span>
                        <input type="password" name="old_password" id="old_password" class="form-control" placeholder="old password" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for= "new_password"  class="control-label">New Password:</label>
                        <span class="star">*</span>
                        <input type="password" name="new_password" id="new_password" class="form-control" placeholder="new password" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for= "confirm_password"  class="control-label">Confirm Password:</label>
                        <span class="star">*</span>
                        <input type="password" name="confirm_password" id="confirm_password" class="form-control" placeholder="confirm password" required>
                    </div>
                </div>

                <div class="form-actions right">
                    <a  href="/dashboard" class="btn default">Cancel</a>
                    <button type="submit"  class="btn blue"><i class="fa fa-check"></i> Submit</button>
                </div>
            </div>
        </form>

    </div>
</div>
{% endblock%}


{% block js %}
<!-- include developer js file -->
<script src="/javascripts/developer.js"></script>
<script>
$(document).ready(function () {
//validate the form
    $("#reset_password").validate({

        rules: {
            old_password: {
                required: true
            },
            new_password: {
                required: true,
                minlength: 8

            },
            confirm_password: {
                required: true,
                minlength: 8,
                equalTo: '#new_password'
            }

        },
        messages: {
            old_password: {
                required: "Please enter old password"
            },
            new_password: {
                required: "Please enter new password",
                minlength: "Minimum length must be of eight characters"
            },
            confirm_password: {
                required: "Please enter new password",
                minlength: "Minimum length must be of eight characters"
            }

        },
//        submitHandler: function (form, event) {
//            event.preventDefault();
//            bootbox.confirm({
//                message: "Are you sure you want to change the password?",
//                buttons: {
//                    confirm: {
//                        label: 'Yes',
//                        className: 'btn-success'
//                    },
//                    cancel: {
//                        label: 'No',
//                        className: 'btn-danger'
//                    }
//                },
//                callback: function (result) {
//                    console.log('This was logged in the callback: ' + result);
//                    if (result) {
//                        form.submit();
//                    } 
//                }
//            });
//        }
    });

    $(".reset").click(function () {
        $(this).closest('form').find("input[type=password]").val("");
    });

});
</script>
{% endblock %}



